{
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    // TODO fix this must be 2
    "valid-jsdoc": 0,
    // TODO ========= remove this
    "quotes": [2, "double", "avoid-escape"],
    "comma-dangle": 0,
    "func-names": 0,
    "spaced-comment": 0,
    "space-before-function-paren": 0,
    "key-spacing": 0,
    "no-multiple-empty-lines": 0,
    "semi": 0,
    "strict": 0,
    "indent": 0,
    "prefer-const": 0,
    "new-cap": 0,
    "no-console": 2,

    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],

    // =========

    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    // Disable until Flow supports let and const
    "no-var": 0,
    "vars-on-top": 0,
    //Temporarirly disabled due to a possible bug in babel-eslint (todomvc example)
    "block-scoped-var": 0,
    // Temporarily disabled for test/* until babel/babel-eslint#33 is resolved
    "padded-blocks": 0,

    // Flow-specific rules
    "flowtype/define-flow-type": 1,
    "flowtype/require-parameter-type": 1,
    "flowtype/require-return-type": [
      1,
      "always",
      {
        "annotateUndefined": "never"
      }
    ],
    "flowtype/space-after-type-colon": [
      1,
      "always"
    ],
    "flowtype/space-before-type-colon": [
      1,
      "never"
    ],
    "flowtype/type-id-match": [
      1,
      "^([A-Z][a-z0-9]+)+Type$"
    ],
    "flowtype/use-flow-type": 1,
    "flowtype/valid-syntax": 1
  },

  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },


  "plugins": [
    "react",
    "flowtype"
  ]
}
